/wp-login.php
/wp-settings.php
/wp-comments-post.php
/wp-mail.php
/wp-trackback.php
/readme.html
/wp-blog-header.php
/wp-content/index.php
/wp-activate.php
/index.php
/wp-includes/
/wp-content/themes/
/wp-cron.php
/xmlrpc.php
/wp-signup.php
/wp-config-sample.php
/wp-config.php
/wp-links-opml.php
/wp-admin/
/wp-load.php
/wp-content/plugins/akismet/
/license.txt
/wp-content/plugins/index.php
/wp-content/plugins/hello.php
/wp-content/plugins/query-monitor/
/wp-content/plugins/debug-bar/